body {
    background-color: #1c1c1c; 
    color: #ababab;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.p{
    color: #c7c7cc;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1.5em;
}

.titulo {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff; 
    margin-top: 0.5em;
    font-weight: bold;
}

.conteudo {
    background-color: #2b2b2b;
    padding: 1.5em;
    margin: 1.5em 0;
    border-radius: 18px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08); 
}


.cabecalhoConteudo h2 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #e3e3ec; 
}

.conteudoLocalizacao {
    font-size: 1.3em;
    color: #cbcbcb;
}

.conteudoLocalizacao p {
    margin: 0.5em 0;
     color: #cbcbcb;
}

input[type="text"] {
    width: 97%;
    padding: 12px;
    margin: 0.5em 0;
    border-radius: 12px;
    border: 1px solid #272323;
     background-color: #3a3a3a;
    font-size: 1em;
    transition: 0.2s;
    color: #cbcbcb;
}

input[type="text"]:focus {
    outline: none;
    border-color: #5f5f6b; ; 
    background: #454545;
    color: #cbcbcb;
}

.botao {
    background-color: #535151;
    color: #d1d1d1;
    border: none;
    padding: 15px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 12px;
    width: 100%;
    transition: 0.2s;
}

.botao:hover {
    background: #6d6d6d;
}

.botao:active {
    background: #c7c7cc;
}

.gmap_canvas iframe {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.listaLocais {
    list-style: none;
    padding: 0;
    margin-top: 1em;
    text-align: left;
}

.listaLocais li {
    background: #f7f7f7;
    padding: 12px;
    margin: 6px 0;
    border-radius: 10px;
}

.rodape {
    text-align: center;
    margin-top: 2em;
    padding: 1em 0;
    font-size: 0.9em;
    color: #8e8e93;
}
